<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="https://thymeLeaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeLeaf/Layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <style>
    .container {
        max-width: 100%;
    }
    .row {
        margin-right: 50px;
        margin-left: 50px;
    }
    form {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    </style>
    <title>Sistema de Vendas - Cadastro de produto</title>
</head>
<body>

<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://img.freepik.com/vetores-premium/fundo-preto-do-logotipo-da-engrenagem-automatica_681147-402.jpg" width="30" height="30" alt="">
            <a class="navbar-brand" href="/adm">Sistema de Vendas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/listarProduto">Produtos<span class="sr-only">(current)</span></a>
                    </li>

                </ul>
            </div>
    </nav>
</div>

<div class="row">
    <form action="/salvarProduto"
          th:object="${produto}"
          method="POST"
          class="container mt-4">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" readonly="true" class="form-control" id="id" th:field="*{id}">

            <label for="nome">Produto:</label>
            <input type="text" class="form-control" id="nome" th:field="*{nome}">
            <small id="emailHelp" class="form-text text-muted">Antes de cadastrar, verifique se o produto já existe.</small>

            <label for="preco">Preço</label>
            <input type="number" class="form-control" id="preco" th:field="*{preco}" step="0.01">

            <label for="quantidade">Quantidade</label>
            <input type="number" class="form-control" id="quantidade" th:field="*{quantidadeEmEstoque}">

            <label for="categoria">Categoria</label>
            <select class="form-control" id="categoria" th:field="*{categoria}">
                <option value="">Selecione</option>
                <option value="alimentos">Alimentos</option>
                <option value="bebidas">Bebidas</option>
                <option value="limpeza">Limpeza</option>
                <option value="higiene">Higiene</option>
            </select>

            <label for="codigoDeBarras">Código de barras</label>
            <input type="text" class="form-control" id="codigoDeBarras" th:field="*{codigoDeBarras}">

        </div>

        <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-floppy-disk" style="color: #000000;"></i> Salvar</button>
        <a href="/adm" class="btn btn-danger">Voltar</a>
    </form>

</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
-->
</body>
</html>